# .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vssscc
*.vspscc

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Compiled Frontend Assets
wwwroot/js/

# MacOS
.DS_Store

# User Secrets / Environment
appsettings.Development.json
.env
.env.local
.env.*.local
